*.iml
.gradle
/build
/app/build
/.idea
/.navigation
/captures
*.apk
!releases/*.apk
*.aar
*.klib
local.properties
keystore.properties
*.jks
*.keystore
.DS_Store
.externalNativeBuild
.cxx
.android-sdk/
.android-commandlinetools.zip
